body{
    background-image: url('image/polmain.jpg');
    background-repeat: no-repeat; 
    background-position: center; 
    background-position-y: -150px; 
    background-size: cover; 
    background-attachment: fixed; 
    width: 1200px; 
    background-color: rgba(0,0,0, 0.5);
    margin-left:auto; 
    margin-right: auto;
    background-blend-mode: darken; 
    display: flex; 
    flex-direction: column; 
    height: 100vh;
    overflow-y: hidden;
   


} 
/* HEADER */
@keyframes fade-in{
    0%{
        opacity: 0;
        transform: translateY(19px); 
    }
    100%{
        opacity: 1;
        transform: translate(0px); 

    }
}
.header{
    display: flex; 
    align-item: center; 
    justify-content: space-between; 
    animation: fade-in 0.7s; 
    transition: fade-in 0.6s; 

}
.logo{
    width: 40px; 
    margin-left: 40px; 
    border: none; 
    border-radius: 100px;  
    margin-top: 15px; 
    cursor: pointer; 
    

}
.links{
    list-style: none;
    display: flex;  

}

.link{
    text-decoration: none; 
    color: rgb(247, 245, 245); 
    margin-right: 30px;
    font-size: 20px; 
    transition: background-color 1s; 
     


}
.link:hover{
    background-color: black; 
    opacity: 0.15px; 
    font-size: 24px; 

}

.link-item{
    margin-left: 30px; 


}
.main{
    text-align: center; 
   margin-top: 120px;
   animation: fade-in 0.40s; 
   transition: amimation 0.2s; 
}
.text-header{
   
    margin-left: 300px;
    color: white;
    font-weight: 1000px;
    font-size: 64px; 
    max-width: 700px; 
    margin-left: auto; 
    margin-right: auto; 
    line-height: 0.9;


}
.second-page{
    color: rgb(247, 245, 245); 
    max-width: 620px; 
    margin-left: auto; 
    margin-right: auto; 
    font-size: 20px; 
}
.p-form{
    padding-left: 10px; 
    padding-right: 10px; 
    padding-top: 10px; 
    padding-bottom: 10px; 

}
.input{
    padding-left: 15px; 
    padding-right: 15px; 
    padding-top: 15px; 
    padding-bottom: 15px; 
    width: 300px; 
    opacity: 0.2px; 
    width: 500px; 
    border-radius: 20px; 
    font-size: 20px;
    

}
.search-btn{
    padding-left: 15px; 
    padding-right: 15px; 
    padding-top: 15px; 
    padding-bottom: 15px; 
    color: gray; 
    background-color: yellow; 
    transition: background-color 1s; 
    font-size: 20px; 
    border-radius: 20px; 

}
.search-btn:hover{
    background-color: green; 
    font-size:inherit; 
    color: black; 
    opacity: 0.9;

}
.footer{
    display: flex; 
    width: 1150px;
    text-align: center; 
    justify-content: space-between;
    margin-left:auto; 
    margin-right: auto; 
    margin-top: auto; 
    border-top: 2px solid rgba(255,255,255,0.4);
    padding-top: 13px; 
    color: rgba(255,255,255,0.5)
}
.copyright{
    color: rgba(121, 111, 111, 0.5); 
    font-size: 15px ; 
  
}
.hotel-room{
    color: rgba(121, 111, 111, 0.5); 
 
}